.admin-panel{
	margin-top:10px;
}

.admin-panel-header{
	border-bottom: 1px solid #D8D8D8;
}

.admin-panel-header .header-font-sm{
	font-size:16px;
}


.admin-sidebar {
	border-top:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
}

.admin-sidebar-header{
	background:#000 !important;
	font-size: 18px;	
	color:#F2F2F2;
	position: relative;
	display: block;
	padding: 10px 15px;

}

.admin-sidebar li{
	list-style: none;
	border-bottom:1px solid #DDDDDD;
}

.admin-sidebar li a{
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #FFFFFF;
	
}


.admin-sidebar li a:hover{
	background-color: #EEE;
}





.admin-sidebar-list{
	padding-left: 0;
}

.admin-sidebar-list  li{
	border:none;	
	list-style: none;
	color:#2780E3 !important;

}

.admin-sidebar-list li a{
	padding-left: 37px;
}

.admin-sidebar-menu > a{
	color: #000;

}

.admin-sidebar-menu > a:link{
	text-decoration: none;
}

.admin-sidebar .active{
	background-color: #EEE !important;
}

.admin-content{
	padding: 10px 10px 10px 10px;
	background: #FFFFFF;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;

}

.photo-upload-area {
	border:4px dashed #C3C3C3;
	padding: 30px 20px 30px 30px;
	display: block;
}

