.admin-panel{
	margin-top:10px;
}

.admin-panel-header{
	border-bottom: 1px solid #D8D8D8;
}

.admin-sidebar{

}

.admin-sidebar {
	background: #000 ;
}


.admin-sidebar-header{
	background:#000 !important;
	font-size: 18px;	
	color:#F2F2F2;

}

.admin-badge{

}

