<section class="container" data-ng-controller="AuthenticationController"  >
	<h3 class="header-text" ><span class="glyphicon glyphicon-lock"></span>ลงชื่อเข้าใช้</h3>
	<section class="row" >
		<section class="col-md-12 col-lg-6">
			<div class="login-facebook-box">
				<h3>ด้วยบัญชี Facebook ของคุณ</h3>
				<a href="/auth/facebook" class="undecorated-link">
					<img src="/modules/users/img/buttons/facebook.png">
				</a>

			</div>

		</section>
		<h2 class="login-header-or text-center col-md-12 hidden-lg" >-หรือ-</h2>
		<section class="col-md-12 col-lg-6">
			<div class="login-box" >			
				<h3 class="login-box-header" >ด้วย Email ของคุณ</h3>
				<form data-ng-submit="signin()" class="signin form-horizontal login-box-form" autocomplete="off">
					<fieldset class="col-lg-8" >
						<div class="form-group">
							<label for="username">อีเมล</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="password">รหัสผ่าน</label>
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>&nbsp; หรือ&nbsp;
							<a href="/#!/signup">สมัครสมาชิก</a>
						</div>
						<div class="forgot-password">
							<a href="/#!/password/forgot">ลืมรหัสผ่าน?</a>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</section>
	</section>
</section>

		<!--
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	-->
