.content {
	margin-top: 50px;
}

.content-box {
	padding: 10px 50px 50px 50px;
	background: #FFFFFF;
}

body{
	background: #F5F5F5;
	font-family: Helvetica,Arial,sans-serif;
}

@media(max-width: 768px){
	.mobile-col-nopadding {
		padding-left: 0;
		padding-right: 0;
	}

	.mobile-fixed-top{
		margin-top: 0;
	}

}

.desktop-col-nopadding {
	padding-left:0; 
	padding-right:0;
}

.desktop-row-nomargin {
	margin-left:0; 
	margin-right:0;
}

.item-box {
	border: 1px solid #D8D8D8;
}

.app-navbar {
	background: #000;
}

.app-logo {
	width: 130px;
	height: 50px;
	background: url("../img/brand/logo-header.png") #000;
}
.app-header {
	background: #000;
	color:#FFF;
	min-height: 60px;
	padding: 5px 5px 5px 5px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
}

.app-search-form {
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom: 0;
}

.bg-grey {
	background: #777;
}

.bg-red {
	background: #FF0039;
}

.bg-lightgreen {
	background: #60F43F;
}

.bg-green {
	background: #28DB00;
}

.bg-lightyellow {
	background: #FFCF02;
}

.bg-yellow {
	background: #FFFF00;
}

.bg-orange {
	background: #FF7518;
}


.bg-skyblue {
	background: #5bc0de;
}

.text-skyblue {
	color: #5bc0de;
}

.text-lightyellow {
	color: #FFCF02;
}

.thumbnail-frame {
	padding: 4px !important;
}


.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.word-breakline{
	word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	hyphens: auto;
}
