.content {
	margin-top: 50px;
}

.app-navbar{
	background: #000;
}

.app-logo{
	width: 130px;
	height: 50px;
	background: url("../img/brand/logo-header.png") #000;
}
.app-header{
	background: #000;
	color:#FFF;
	min-height: 60px;
	padding: 5px 5px 5px 5px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
}

.app-search-form{
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom: 0;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

