<section class="row" data-ng-controller="PasswordController">
	<h3 class="col-md-12 text-center">รีเซ็ตรหัสผ่านของคุณ</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="newPassword">รหัสผ่านใหม่</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
				</div>
				<div class="form-group">
					<label for="verifyPassword">ยืนยันรหัสผ่านใหม่</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary form-control">รีเซ็ต</button>
				</div>
				
			</fieldset>
		</form>
		<div flash-message="5000"></div>
	</div>
</section>