<section  data-ng-controller="ProductWallController">

	<section  id="products" class="row list-group" style="margin-top:10px;">
		<header class="product-wall-header col-xs-12 col-lg-12 " style="padding-right:0;" >
			<h2>Smart Watch</h2>
			<hr>
		</header>
		<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4"  >
			<section  class="thumbnail" >
				<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
				<article  class="caption">
					<h4 class="group inner list-group-item-heading">Product title</h4>	
					<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						<section  class="row">
							<section  class="col-xs-12 col-md-6">
								<p class="lead">$21.000</p>

							</section >
							<section  class="col-xs-12 col-md-6">
								<a class="btn btn-primary" href="#">Add to cart</a>
							</section >
						</section >
					</article >
				</section >
			</section >
			<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<section  class="thumbnail">
					<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
					<article class="caption">
						<h4 class="group inner list-group-item-heading">Product title</h4>

						<p class="group inner list-group-item-text">
							Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<section  class="row">
							<section  class="col-xs-12 col-md-6">
								<p class="lead">$21.000</p>

							</section >
							<section  class="col-xs-12 col-md-6">
								<a class="btn btn-primary" href="#">Add to cart</a>
							</section >
						</section >
					</article >
				</section >
			</section >
			<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4" >
				<section  class="thumbnail">
					<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
					<article  class="caption">
						<h4 class="group inner list-group-item-heading">Product title</h4>

						<p class="group inner list-group-item-text">
							Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<section  class="row">
							<section  class="col-xs-12 col-md-6">
								<p class="lead">$21.000</p>

							</section >
							<section  class="col-xs-12 col-md-6">
								<a class="btn btn-primary" href="#">Add to cart</a>
							</section >
						</section >
					</article >
				</section >
			</section >
		</section >


		<section  id="products" class="row list-group" style="margin-top:10px;">
			<header class="product-wall-header col-xs-12 col-lg-12 " style="padding-right:0;" >
				<h2>Speaker</h2>
				<hr>
			</header>
			<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4"  >
				<section  class="thumbnail" >
					<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
					<article  class="caption">
						<h4 class="group inner list-group-item-heading">Product title</h4>	
						<p class="group inner list-group-item-text">
							Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
							<section  class="row">
								<section  class="col-xs-12 col-md-6">
									<p class="lead">$21.000</p>

								</section >
								<section  class="col-xs-12 col-md-6">
									<a class="btn btn-primary" href="#">Add to cart</a>
								</section >
							</section >
						</article >
					</section >
				</section >
				<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<section  class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
						<article class="caption">
							<h4 class="group inner list-group-item-heading">Product title</h4>

							<p class="group inner list-group-item-text">
								Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
								sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							</p>
							<section  class="row">
								<section  class="col-xs-12 col-md-6">
									<p class="lead">$21.000</p>

								</section >
								<section  class="col-xs-12 col-md-6">
									<a class="btn btn-primary" href="#">Add to cart</a>
								</section >
							</section >
						</article >
					</section >
				</section >
				<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4" >
					<section  class="thumbnail">
						<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
						<article  class="caption">
							<h4 class="group inner list-group-item-heading">Product title</h4>

							<p class="group inner list-group-item-text">
								Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
								sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							</p>
							<section  class="row">
								<section  class="col-xs-12 col-md-6">
									<p class="lead">$21.000</p>

								</section >
								<section  class="col-xs-12 col-md-6">
									<a class="btn btn-primary" href="#">Add to cart</a>
								</section >
							</section >
						</article >
					</section >
				</section >
			</section >


		</section>
