<section  data-ng-controller="ProductWallController" data-ng-init="displayWalls()" >

	<section  id="products" class="row list-group" style="margin-top:10px;" data-ng-repeat="category in categories" >
		<header class="product-wall-header col-xs-12 col-lg-12 " style="padding-right:0;"  >
			<h2>{{category.name}}</h2>
			<hr>
		</header>
		<section  class="item  col-xs-12 col-sm-6 col-md-6 col-lg-3 "  data-ng-repeat="product in category.products"   >
			<div  class="thumbnail" >
				<a href="#" ui-sref="product({productSlug:product.slug})" >
					<img class="group list-group-image product-thumbnail" src="{{product.photos[0].url}}" alt="" />
				</a>
				<article  class="caption">
					<h4 class="group inner list-group-item-heading" ng-init="limit=23">
						<a href="#" ui-sref="product({productSlug:product.slug})" >
							<b>{{product.name | limitTo:limit}}{{product.name.length > limit?'...':''}}</b>
						</a>
					</h4>	

					<div  class="row">
						<div  class="col-xs-12 col-md-12" ng-init="shortDesclimit=28">
							<p  >{{product.shortDescription | limitTo:shortDesclimit}}{{product.shortDescription.length > shortDesclimit?'...':''}}</p>

						</div >
						<div  class="col-xs-12 col-md-12">
							<p class="lead text-danger" data-ng-if="!product.sale.onSale"  ><b>{{product.price |currency:'':0 }} บาท</b> </p>
								<p class="lead " data-ng-if="product.sale.onSale" ><del>{{product.price |currency:'':0 }}</del> <b class="text-danger" >{{product.sale.salePrice |currency:'':0 }} บาท</b> </p>

						</div >
						<div  class="col-xs-12 col-md-12">
							<a class="btn btn-primary form-control" href="#" add-to-cart product-id="{{product._id}}" quantity="1" >หยิบใส่ตะกร้า</a>
						</div >
					</div >

				</article >
			</div >
		</section >

	</section >





</section>
