<section class="content-box item-box" data-ng-init="addr.listAddresses()" >
	<div class="row" >
		<div class="col-lg-12">
			<h3 class="admin-panel-header" >
				<span class="glyphicon glyphicon-envelope" ></span>
				ที่อยู่ในการจัดส่ง
			</h3>
		</div>
	</div>

	<div class="row" >
		<div class="col-lg-8">
			<div class="row">
				<div class="co-lg-12 item-box" style="padding: 10px 10px 10px 10px;" >
					<h4>ที่อยู่หลักในการจัดส่ง</h4>
					<hr>
					<p>
						{{addr.addresses[0].name}}<br>
						{{addr.addresses[0].address}}<br>
						{{addr.addresses[0].district}} {{addr.addresses[0].province}} {{addr.addresses[0].zipcode}}<br>
						{{addr.addresses[0].tel}}
					</p>
					<a href ui-sref="customerPanel.editAddress" >แก้ไขที่อยู่</a>
				</div>
			</div>
		</div>
	</div>
</section>