.order {
	padding: 20px 40px 20px 40px;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 10px;
	background: #FFFFFF;
}

.orderstep {
	list-style: none;
	border-radius: 0;
}

.orderstep > li {
	font-size: 11px;
	display: inline-block;
}

.orderstep > li {
	font-size: 11px;
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
}


@media (min-width: 767px) {
	.orderstep > li {
		font-size: 14px;
		padding-left: 50px;
		padding-right: 50px;
		display: inline-block;
	}
}

@media (min-width: 991px) {
	.orderstep > li {
		font-size: 16px;
		padding-left: 70px;
		padding-right: 70px;
		display: inline-block;
	}
}

@media (min-width: 1199px) {
	.orderstep > li {
		font-size: 16px;
		padding-left: 100px;
		padding-right: 100px;
		display: inline-block;
	}
}

.form-box {
	border: 1px solid #DDD;
}

.form-header {
	font-weight: bold;
	border-bottom: 1px solid #DDD;
	padding: 8px 15px 8px 15px;
	margin-bottom: 15px;
}

.form-text {
	padding-left: 20px;
	padding-right: 20px;
}

.order-complete-header {
	list-style: none;
}

.order-complete-header > li > strong {
	font-size: 30px;
	font-weight: bold;
}

.order-complete-header > li {
	padding-right: 10px;
	padding-left: 10px;
	border-right: 2px dashed #cbcbcb;
	display: inline-block;
}