<section class="admin-panel" data-ng-controller="AdminPanelController">
	<section class="row" >
		<nav class=" col-sm-3 col-md-3 col-lg-3" >
			<ul class="list-group admin-sidebar" >
				<li class="list-group-item admin-sidebar-header " >MAIN MENU</li>
				<li class="list-group-item" ><span class="glyphicon glyphicon-tag" ></span> สินค้า <span class="badge admin-badge">42</span></li>
				<li class="list-group-item" ><span class="glyphicon glyphicon-user" ></span> ลูกค้า <span class="badge admin-badge">42</span></li>
			</ul>
		</nav>

		<section class="col-sm-9 col-md-9 col-lg-9" >
			<h3 class="admin-panel-header" >สินค้า</h3>
		</section>

	</section>
</section>