<nav data-ng-controller="adminSidebarController" >
	<ul class="list-group admin-sidebar" >
		<li class="admin-sidebar-menu admin-sidebar-header " >Admin Panel</li>
		<li  class="admin-sidebar-menu" >	
			<a ui-sref-active="active" ui-sref="admin-panel.store" href >
				<span class="glyphicon glyphicon-dashboard" ></span> 
				ภาพรวม
			</a>
		</li>	

		<li  class="admin-sidebar-menu" >
			
			<a href ng-class="{active:collapseVar==1}" data-ng-click="check(1)" >
				<span  class="glyphicon glyphicon-list-alt" ></span> คำสั่งซื้อ 
				<span class="label label-danger">40</span>
				<span ng-class="{'glyphicon-menu-down':collapseVar==1,'glyphicon-menu-left':collapseVar!=1}" class="glyphicon  pull-right" ></span>
			</a> 

			<ul class="admin-sidebar-list" collapse="collapseVar!=1" >
				<li  ><a href ui-sref="adminPanel.listOrders({ status: 'new' })" ui-sref-active="active" >ใหม่<span class="badge pull-right">20</span></a></li>
				<li  ><a href ui-sref="adminPanel.listOrders({ status: 'confirmed' })" ui-sref-active="active" >ยื่นหลักฐานชำระแล้ว<span class="badge bg-orange pull-right">1</span></a></li>
				<li   ><a href ui-sref="adminPanel.listOrders({ status: 'paid' })" ui-sref-active="active">ชำระแล้ว<span class="badge bg-green pull-right">14</span></a></li>
				<li  ><a href ui-sref="adminPanel.listOrders({ status: 'delivered' })" ui-sref-active="active">จัดส่งแล้ว<span class="badge bg-skyblue pull-right">5</span></a></li>
				<li  ><a href ui-sref="adminPanel.listOrders({ status: 'overtime' })" ui-sref-active="active" >เกินกำหนดชำระ<span class="badge bg-red pull-right">0</span></a></li>
				<li ><a href ui-sref="adminPanel.listOrders({ status: 'canceled' })" ui-sref-active="active">ยกเลิกคำสั่งซื้อแล้ว<span class="badge bg-grey pull-right">0</span></a></li>

			</ul>

		</li>

		<li class="admin-sidebar-menu"  >
			<a href ng-class="{active:collapseVar==2}" data-ng-click="check(2)" >
				<span class="glyphicon glyphicon-tag"  ></span> 
				สินค้า
				<span ng-class="{'glyphicon-menu-down':collapseVar==2,'glyphicon-menu-left':collapseVar!=2}" class="glyphicon  pull-right" ></span>
			</a> 
			<ul class="admin-sidebar-list" collapse="collapseVar!=2"  >
				<li>
					<a ui-sref="adminPanel.createProduct" ui-sref-active="active" href> 
						<span class="glyphicon glyphicon-plus" ></span>เพิ่มสินค้า
					</a>
				</li>
			</ul>
			<ul class="admin-sidebar-list" collapse="collapseVar!=2"  >
				<li><a ui-sref="adminPanel.listProducts"  ui-sref-active="active" >ทั้งหมด<span class="badge pull-right">20</span></a></li>
			</ul>
			<ul class="admin-sidebar-list" collapse="collapseVar!=2"  >
				<li><a href ui-sref-active="active" >ลดราคา<span class="badge bg-red pull-right">20</span></a></li>
			</ul>
			<ul class="admin-sidebar-list" collapse="collapseVar!=2"  >
				<li><a href ui-sref-active="active" >หมดสต็อก<span class="badge bg-grey pull-right">20</span></a></li>
			</ul>

		</li>

		<li class="admin-sidebar-menu"  >
			<a href ng-class="{active:collapseVar==3}" data-ng-click="check(3)" >
				<span class="glyphicon glyphicon-th-list"  ></span> 
				หมวดหมู่สินค้า
				<span ng-class="{'glyphicon-menu-down':collapseVar==3,'glyphicon-menu-left':collapseVar!=3}" class="glyphicon  pull-right" ></span>
			</a>
			<ul class="admin-sidebar-list" collapse="collapseVar!=3"  >
				<li>
					<a ui-sref="adminPanel.createCategory" ui-sref-active="active" href> 
						<span class="glyphicon glyphicon-plus" ></span>เพิ่มหมวดหมู่
					</a>
				</li>
			</ul>
			
			<ul class="admin-sidebar-list" collapse="collapseVar!=3"  >
				<li><a ui-sref="adminPanel.listCategories" ui-sref-active="active" >ทั้งหมด<span class="badge pull-right">20</span></a></a></li>
			</ul>
		</li>

		<li class="admin-sidebar-menu" >
			<a href ng-class="{active:collapseVar==4}" data-ng-click="check(4)" >
				<span class="glyphicon glyphicon-user" ></span> 
				ลูกค้า 
				<span ng-class="{'glyphicon-menu-down':collapseVar==4,'glyphicon-menu-left':collapseVar!=4}" class="glyphicon  pull-right" ></span>
			</a>

			<ul class="admin-sidebar-list" collapse="collapseVar!=4"  >
				<li><a href ui-sref-active="active" ui-sref="adminPanel.listCustomers" >รายชื่อลูกค้า<span class="badge  pull-right">20</span></a></li>
			</ul>
		</li>
		<li class="admin-sidebar-menu" >	
			<a href ng-class="{active:collapseVar==5}" data-ng-click="check(5)" >
				<span class="glyphicon glyphicon-home" ></span> 
				หน้าร้าน
				<span ng-class="{'glyphicon-menu-down':collapseVar==5,'glyphicon-menu-left':collapseVar!=5}" class="glyphicon  pull-right" ></span>
			</a>

			<ul class="admin-sidebar-list" collapse="collapseVar!=5"  >
				<li><a href ui-sref-active="active" ui-sref="adminPanel.banners" >banners<span class="badge  pull-right">20</span></a></li>
			</ul>
		</li>
		<li class="admin-sidebar-menu" >
			<a href ng-class="{active:collapseVar==6}" data-ng-click="check(6)" >
				<span class="glyphicon glyphicon-sunglasses" ></span> 
				Admins 
				<span ng-class="{'glyphicon-menu-down':collapseVar==6,'glyphicon-menu-left':collapseVar!=6}" class="glyphicon  pull-right" ></span>
			</a>
		</li>
	</ul>
</nav>