<section data-ng-controller="ProductSearchController">
	<form>
		<section class="input-group" >
			<input type="text" class="form-control col-lg-12" placeholder="Search"  >		
			<section class="input-group-btn"  >
				<select class="form-control" style="margin-left:2px;">
					<option>ทุกหมวดหมู่สินค้า</option>
					<option>เครื่องเสียง</option>
				<select>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-search" ></span></button>
			</section>
		</section>
	</form>
</section>