<section data-ng-controller="ProductSearchController"  >	
	<form class="navbar-form navbar-left search-form" role="search" >
		<section class="input-group" >
			<input data-ng-model="query" type="search" class="form-control app-search-text" placeholder="ค้นหาสินค้า"  novalidate>
			<span class="input-group-btn">
				<button type="submit" class="btn app-search-button" data-ng-click="search()" ><span class="glyphicon glyphicon-search" ></span>
				</button>
			</span>
		</section>
	</form>
</section>

