<section class="shop word-breakline" data-ng-controller="ShopCtrl" data-ng-init="viewProductCategory()" >
	<div class="row" >
		<div class="col-lg-12">
			<ol class="breadcrumb shop-breadcrumb">
				<li><a href="/">หน้าแรก</a></li>
				<li class="active" data-ng-bind="categoryWithProducts.name"></li>
			</ol>

		</div>
	</div>

	<div class="row">
		<nav class="col-sm-3 col-md-3 col-lg-3" >
			<ul class="list-group category-sidebar" data-ng-init="initCategories()" >
			
				<li class="category-sidebar-menu"   data-ng-repeat="category in categories" >
					<a ui-sref-active="active" ui-sref="productCategory({categorySlug:category.slug})" >{{category.name}}
					</a>
				</li>
			</ul>
		</nav>
		<div class="col-sm-9 col-md-9 col-lg-9"  >

			<div  id="products" class="row list-group " style="margin-bottom:0px;"   >
				<div  class="item  col-xs-12 col-sm-6 col-md-6 col-lg-4 grid-group-item " data-ng-repeat="product in categoryWithProducts.products"  >
					<div  class="thumbnail" >
						<a href="#" ui-sref="product({productSlug:product.slug})" >
							<img class="group list-group-image product-thumbnail" src="{{product.photos[0].url}}" alt="" width="300" height="250" />
						</a>
						<article  class="caption">
							<h4 class="group inner list-group-item-heading" ng-init="limit=23">
								<a href="#" ui-sref="product({productSlug:product.slug})" >
									<b>{{product.name | limitTo:limit}}{{product.name.length > limit?'...':''}}</b>
								</a>
							</h4>	

							<div  class="row">
								<div  class="col-xs-12 col-md-12" ng-init="shortDesclimit=28">
									<p  >{{product.shortDescription | limitTo:shortDesclimit}}{{product.shortDescription.length > shortDesclimit?'...':''}}</p>

								</div >
								<div  class="col-xs-12 col-md-12">
									<p class="lead text-danger" data-ng-if="!product.sale.onSale"  ><b>{{product.price |currency:'':0 }} บาท</b> </p>
									<p class="lead " data-ng-if="product.sale.onSale" ><del>{{product.price |currency:'':0 }}</del> <b class="text-danger" >{{product.sale.salePrice |currency:'':0 }} บาท</b> </p>


								</div >
								<div  class="col-xs-12 col-md-12">
									<a class="btn btn-primary form-control" href="#" add-to-cart product-id="{{product._id}}" quantity="1" data-ng-if="product.quantity" >หยิบใส่ตะกร้า</a>

									<a data-ng-if="product.quantity <= 0" class="btn btn-danger form-control" ><b class="text-soldout">สินค้าหมด<b></a>
								</div >
							</div >

						</article >
					</div >
				</div >
				</div >

				<div class="row" >
					<div class="text-right col-lg-12">
						<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()">
						</pagination>
					</div>

				</div>

			</div>
		</div>
	</section>