<section class="shop word-breakline" data-ng-controller="ShopCtrl" data-ng-init="findProduct()" >
	<div class="row" >
		<div class="col-lg-12">
			<ol class="breadcrumb shop-breadcrumb">
				<li><a href="/">หน้าแรก</a></li>
				<li><a href="#">หมวดหมู่สินค้า</a></li>
				<li class="active" data-ng-bind="product.name"></li>
			</ol>
		</div>
	</div>
	<div class="row product-container" >
		<div class="col-lg-12 product-container-inner item-box" >
			<article>
				<div class="col-lg-5 " >
					<img src="{{product.photos[0].url}}" width="100%;" />
				</div>
				<div class="col-lg-7 " >
					<h2>{{product.name}}</h2>

					<div class="col-lg-6 product-detail-col" >
						<p class="lead" data-ng-if="!product.sale.onSale" style="font-size:32px;"  >
							<b>{{product.price |currency:'':0 }} บาท</b> 
						</p>
						<p class="lead " data-ng-if="product.sale.onSale" >
							<b  style="font-size:32px;" >{{product.sale.salePrice |currency:'':0 }} บาท</b>
							<br>
							<span style="font-size:16px;" >
								ราคาปกติ
								<del>{{product.price |currency:'':0 }} บาท</del>
							</span>
						</p>
						<p>{{product.shortDescription}}</p>
					</div>
					<div class="col-lg-6 product-detail-col " >	
						<form class="addtocart-box item-box" data-ng-if="product.quantity"  >
							<div class="form-group">
								เลือกจำนวน:<select data-ng-model="selectedQuantity"  class="form-control" data-ng-options="value for value in [] | range:product.quantity " >
							</select>
							
						</div>
						<button class="btn btn-primary form-control" add-to-cart product-id="{{product._id}}" quantity="{{selectedQuantity}}" >หยิบใส่ตระกร้า</button>
					</form>
					<div class="col-xs-offset-4 col-sm-offset-5 col-md-offset-2 soldout-box">
						<span data-ng-if="product.quantity <= 0" class="text-danger text-soldout-profile" >สินค้าหมด</span>
					</div>		
				</div>
			</div>
		</article>
	</div>
	<div class="col-lg-12 product-container-inner product-description item-box" style="margin-top:10px;" >
		<article>
			<h2>รายระเอียดสินค้า</h2>
			<p >{{product.description}}</p>
		</article>
	</div>

</div>
</div>
</section>