<section class="category" data-ng-controller="CategoriesController">
	<section class="row">
		<section class="col-lg-12">
			<ol class="breadcrumb category-breadcrumb">
				<li><a href="#">หน้าแรก</a></li>
				<li><a href="#">หมวดหมู่สินค้า</a></li>
				<li class="active">ลำโพง</li>
			</ol>
		</section>
	</section>

	<section class="row">
		<nav class="col-sm-3 col-md-3 col-lg-3" >

			<ul class="list-group " >
				<li class="list-group-item active" >ลำโพง</li>
				<li class="list-group-item" >ของเล่น</li>
				<li class="list-group-item" >อุปกณ์อำนวยความสะดวก</li>

			</ul>
		</nav>
		<section class="col-sm-9 col-md-9 col-lg-9">
			
			<section  id="products" class="row list-group" style="margin-bottom:0px;" >
				<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4"  >
					<section  class="thumbnail" >
						<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
						<article  class="caption">
							<h4 class="group inner list-group-item-heading"><a href="/#!/product-detail" >Product title</a></h4>	
							<p class="group inner list-group-item-text">
								Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
								sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
								<section  class="row">
									<section  class="col-xs-12 col-md-6">
										<p class="lead">$21.000</p>

									</section >
									<section  class="col-xs-12 col-md-6">
										<a class="btn btn-primary" href="#">Add to cart</a>
									</section >
								</section >
							</article >
						</section >
					</section >
					<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<section  class="thumbnail">
							<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
							<article class="caption">
								<h4 class="group inner list-group-item-heading">Product title</h4>

								<p class="group inner list-group-item-text">
									Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
									sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
								</p>
								<section  class="row">
									<section  class="col-xs-12 col-md-6">
										<p class="lead">$21.000</p>

									</section >
									<section  class="col-xs-12 col-md-6">
										<a class="btn btn-primary" href="#">Add to cart</a>
									</section >
								</section >
							</article >
						</section >
					</section >
					<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4" >
						<section  class="thumbnail">
							<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
							<article  class="caption">
								<h4 class="group inner list-group-item-heading">Product title</h4>

								<p class="group inner list-group-item-text">
									Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
									sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
								</p>
								<section  class="row">
									<section  class="col-xs-12 col-md-6">
										<p class="lead">$21.000</p>

									</section >
									<section  class="col-xs-12 col-md-6">
										<a class="btn btn-primary" href="#">Add to cart</a>
									</section >
								</section >
							</article >
						</section >
					</section >


					<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4"  >
						<section  class="thumbnail" >
							<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
							<article  class="caption">
								<h4 class="group inner list-group-item-heading">Product title</h4>	
								<p class="group inner list-group-item-text">
									Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
									sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									<section  class="row">
										<section  class="col-xs-12 col-md-6">
											<p class="lead">$21.000</p>

										</section >
										<section  class="col-xs-12 col-md-6">
											<a class="btn btn-primary" href="#">Add to cart</a>
										</section >
									</section >
								</article >
							</section >
						</section >
						<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<section  class="thumbnail">
								<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
								<article class="caption">
									<h4 class="group inner list-group-item-heading">Product title</h4>

									<p class="group inner list-group-item-text">
										Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
										sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
									</p>
									<section  class="row">
										<section  class="col-xs-12 col-md-6">
											<p class="lead">$21.000</p>

										</section >
										<section  class="col-xs-12 col-md-6">
											<a class="btn btn-primary" href="#">Add to cart</a>
										</section >
									</section >
								</article >
							</section >
						</section >
						<section  class="item  col-xs-12 col-sm-4 col-md-4 col-lg-4" >
							<section  class="thumbnail">
								<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
								<article  class="caption">
									<h4 class="group inner list-group-item-heading">Product title</h4>

									<p class="group inner list-group-item-text">
										Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
										sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
									</p>
									<section  class="row">
										<section  class="col-xs-12 col-md-6">
											<p class="lead">$21.000</p>

										</section >
										<section  class="col-xs-12 col-md-6">
											<a class="btn btn-primary" href="#">Add to cart</a>
										</section >
									</section >
								</article >
							</section >
						</section >
					</section >

					<section class="row" >
						<section class="text-right col-lg-12">
							<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
						</section>

					</section>

				</section>
			</section>
		</section>