.shop{
	margin-top:10px;
	margin-bottom:10px;
}

.cart{

	padding: 20px 40px 20px 40px;
	background: #FFFFFF;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 10px;
}

.cart-pay{
	margin-left: 10px;
}

.edit-cart-header{
	margin-top:10px;
	margin-left: 5px;

	font-size: 18px;
}

.continue-shopping{
	margin-top: 30px;
	font-size: 16px;
}

.summary-header{
	margin-top:52px;
	font-weight: bold;
}

.summary-box{
	padding-bottom: 10px;
	border-bottom: 1px solid #D8D8D8;
}

.net-sum-box{
	font-size: 18px;
}

.modal-cart-sum{
	border-top:1px solid #D8D8D8;
}


.product-container{
	padding-left:15px;
	padding-right:15px;

}

.product-container-inner{
	background-color: #FFF;
	padding-top:15px;
	padding-bottom:15px;
}

.shop-breadcrumb{
	background: #FFF;
	padding: 15px 10px 15px 20px;
	border:1px solid #D8D8D8;
}

.product-detail-col{
	padding-left:0;
	padding-right:0;
}

.addtocart-box{
	padding:18px 20px 18px 20px;
	margin-left:5px;
}

.product-description{
	padding-left:50px;
	padding-right:50px;
	margin-top:10px;
}

.text-soldout{
	font-size: 18px;
	font-weight: bold;

}

.text-soldout-profile{
	font-size: 28px;
	font-weight: bold;

}

.soldout-box{
	padding-top:50px;
	padding-bottom: 40px;
}