<script type="text/ng-template" id="cartModal.html">
        <div class="modal-header">
        <button type="button" class="close" data-ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title"><span class="glyphicon glyphicon-shopping-cart" ></span>ตะกร้าสินค้า</h3>
        </div>
        <div class="modal-body">
          <ul>
            <li data-ng-repeat="cart in productsInCart" >{{cart.product.name}} จำนวน {{cart.quantity}} ชิ้น</li>

          </ul>


          <p class="text-center text-muted" style="font-size:20px;" data-ng-if="!productsInCart" ><strong>ไม่มีสินค้าในตะกร้า</strong></p>
        </div> 
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" >สั่งซื้อ</button>
        </div>
</script>
