<div class="form-inline related-product edit-related-product"  data-ng-repeat="id in ngModel track by $index" >
	<input type="text" readonly class="form-control text-related-product" style="width:450px;" placeholder="รหัสสินค้า" value="{{id}}"  >
	<a href="#"  btn-edit-related-product index="{{$index}}"  >แก้ไข</a> |
	<a href="#" data-ng-click="removeRelatedProduct($index)" >ลบ</a>
</div>

<div class="form-inline related-product add-related-product"  >
	<input type="text" class="form-control" style="width:450px;" placeholder="รหัสสินค้า" data-ng-model="productId" >
	<button type="button" class="btn btn-default" data-ng-click="addRelatedProduct()"  >เพิ่ม</button>
</div>