<section data-ng-controller="CreateProductController">
	<section class="row admin-content item-box" >		
		<div class="col-lg-12">
			<h3 class="admin-panel-header" >สินค้า <span class="glyphicon glyphicon-menu-right header-font-sm"></span>{{headerName}}</h3>
		</div>
		<div class="col-lg-12">
			<form>
				<div class="col-lg-8">
					<div class="form-group">
						<label>ชื่อสินค้า</label>
						<input type="text" class="form-control" >
					</div>
					<div class="form-group">
						<label>หมวดหมู่สินค้า</label>
						<select class="form-control" >
							<option>กล้อง</option>
						</select>
					</div>
					<div class="form-group">
						<label>รุ่น</label>
						<input type="text" class="form-control" >
					</div>
					<div class="form-group">
						<label>แบรนด์</label>
						<input type="text" class="form-control" >
					</div>
					<div class="form-group">
						<div class="photo-upload-area" >
							<span class="btn btn-primary btn-file" >
								<span class="glyphicon glyphicon-picture" ></span>เลือกรูปภาพ <input type="file" >
							</span>
						</div>
					</div>
					<div class="form-group">
						<label>คำอธิบายย่อ</label>
						<textarea class="form-control" ></textarea>
					</div>
					<div class="form-group">
						<label>คำอธิบาย</label>
						<textarea class="form-control" rows="15" ></textarea>
					</div>
					
					
				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<label>ราคา</label>
						<input type="text" class="form-control" placeholder="0.00 บาท" >
					</div>
					<div class="form-group">
						<label>จำนวน</label>
						<input type="number" class="form-control" placeholder="0 ชิ้น" min="0" >
					</div>
					<div class="form-group">
						<label>ลดราคา (% เปอร์เซ็น)</label>
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="number" class="form-control" placeholder="0 %" min="0" max="100" >
						</div>
					</div>
					<div class="form-group">
						<label>Tags</label>
						<textarea class="form-control" rows="5" ></textarea>
					</div>
					<div class="form-group">
						<div class="soleout-group text-center" >
							<input type="checkbox" aria-label="...">					
							<span class="soleout-text" >Sole Out</span>
						</div>	
					</div>

				</div>
				<div class="col-lg-12">
					<button type="submit" class="btn btn-primary btn-lg" >เพิ่ม</button>
				</div>
			</form>
		</div>
	</section>
</section>