<section data-ng-controller="ProductsController" data-ng-init="findOneEdit()"  >
	<section class="row admin-content item-box" >		
		<div class="row" >
			<div class="col-lg-12">
				<h3 class="admin-panel-header" >แก้ไขสินค้า</h3>
			</div>
			<div  class="col-lg-12" >
				<div flash-message="5000"></div>
			</div>

		</div>
		<div class="row" >
			<form name="productForm" data-ng-submit="productForm.$valid && update()" product-form >
				<div class="col-lg-8">
					<div class="form-group" >
						<label>รหัสสินค้า</label>
						<input  type="text" class="form-control" value="{{product._id}}" readonly="readonly"  >
						
					</div>

					<div class="form-group" ng-class="{'has-error':(productForm.$submitted||productForm.$touched) && productForm.name.$invalid}">
						<label>ชื่อสินค้า</label>
						<input  type="text" class="form-control" data-ng-model="product.name"  required>
						<p ng-show="(productForm.$submitted||productForm.$touched) && productForm.name.$invalid" class="text-danger">กรุณากรอกชื่อ สินค้า</p>
					</div>

					<div class="form-group">
						<label>หมวดหมู่สินค้า</label>
						<select class="form-control"  data-ng-options="category.name for category in categories track by category._id"   data-ng-model="product.category"  >
							<option value="" >กรุณาเลือกหมวดหมู่</option>						
						</select>
					</div>
					<div class="form-group">
						<label>รุ่น</label>
						<input type="text" class="form-control" data-ng-model="product.models" >
					</div>
					<div class="form-group">
						<label>แบรนด์</label>
						<input type="text" class="form-control" data-ng-model="product.brand" >
					</div>
					<div class="form-group">
						<product-photo-upload></product-photo-upload>
					</div>
					<div class="form-group">
						<label>คำอธิบายย่อ</label>
						<textarea class="form-control" data-ng-model="product.shortDescription" rows="5" ></textarea>
					</div>
					


				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<label>ราคา (บาท)</label>
						<input type="number" class="form-control" placeholder="0.00 บาท" data-ng-model="product.price" >
					</div>
					<div class="form-group">
						<label>จำนวน</label>
						<input type="number" class="form-control" placeholder="0 ชิ้น" min="0" data-ng-model="product.quantity" >
					</div>
					<div class="form-group">
						<label>ลดราคา (% เปอร์เซ็น)</label>
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="..." data-ng-model="product.sale.onSale">
							</span>
							<input type="number" class="form-control" placeholder="0.00 บาท" min="0"  data-ng-model="product.sale.salePrice">
						</div>
					</div>
					
					<div class="form-group">
						<label>Tags</label>
						<textarea class="form-control" rows="5" data-ng-model="product.tags" ng-list></textarea>
					</div>
					<div class="form-group">
						<div class="soleout-group text-center" >
							<input type="checkbox" aria-label="..." data-ng-model="product.soleOut" >
							<span class="soleout-text" >Sole Out</span>
						</div>	
					</div>
					<div class="form-group" data-ng-init="initColors()"  >
						<label>สี</label>
						<div class="colorpicker" >
							<select simplecolorpicker data-ng-controller="EventColorsCtrl"  data-ng-options="value.name for (key , value) in colors track by value" data-ng-model="product.color" >
							</select>
						</div>
					</div>
				</div>
				<div  class="col-lg-12"  >
					<div class="form-group">
						<label>คำอธิบาย</label>
						<div text-angular data-ng-model="product.description"  ></div>
					</div>
					<div class="form-group">
						<label>สินค้าที่เกี่ยวข้อง</label>
						<related-product-creator ng-model="product.relatedProducts" ></relate-product-creator>
					</div>
					

					
					<button type="submit" class="btn btn-primary btn-lg"  >บันทึก</button>
					
					
				</div>
			</form>


		</div>



	</div>
</section>
</section>