<section class="product" data-ng-controller="ProductdetailController">
	<section class="row">
		<section class="col-lg-12">
			<ol class="breadcrumb category-breadcrumb">
				<li><a href="/">หน้าแรก</a></li>
				<li><a href="#">หมวดหมู่สินค้า</a></li>
				<li class="active">ลำโพง</li>
			</ol>
		</section>
	</section>

	<section class=" row">
		<section class="col-lg-12 " >
			<section class="product-detail item-box container-fluid desktop-col-nopadding" >
				<header class="product-detail-header col-lg-12" >
					<h2 >ลำโพงบลูทูธ Sentey</h2>
				</header>
				
				<section class="col-lg-12">
					<div class="row">
						<div class="col-lg-6">
							Photo
						</div>
						<div class="col-lg-6">
							Detail
						</div>
					</div>
				</section>
			</section>
		</section>
	</section>

</section>