<script type="text/ng-template" id="cartModal.html">
        <div class="modal-header">
        <button type="button" class="close" data-ng-click="dismiss()"><span>&times;</span></button>
            <h3 class="modal-title"><span class="glyphicon glyphicon-shopping-cart" ></span>ตะกร้าสินค้า

            </h3>

            <p class="edit-cart-header"><a href="" ui-sref="cart" data-ng-click="dismiss()" ><span class="glyphicon glyphicon-pencil" ><span>แก้ไขจำนวนสินค้า</a><p>

        </div>
        <div class="modal-body" ng-init="initCart()"  >
        <div flash-message="5000"></div>
        <div class="table-responsive" data- data-ng-if="productsInCart.length && productsInCart" >
          <table class="table" >
            <thead>
             <tr>
                <th colspan="2">สินค้า</th>
                <th>ราคาต่อชิ้น (บาท)</th>
                <th >จำนวน</th>
                <th colspan="2" >มูลค่าสินค้า (บาท)</th>
              <tr>
            </thead>
          <tbody>
            <tr data-ng-repeat="cart in productsInCart | reverse track by $index" >
              <td><img src="{{cart.product.photos[0].url}}" width="80" height="80" /></td>
              <td class="col-md-6" >
              <span><a data-ng-click="dismiss()" href="#" ui-sref="product({productId:cart.product._id})" >{{cart.product.name}}
              </a>
              </span>
              
              </td>
              <td>
              {{(cart.product.sale.onSale?cart.product.sale.salePrice:cart.product.price) | currency:'' }}

              <br>
                  <span style="font-size:12px;" data-ng-if="cart.product.sale.onSale" >
                    ราคาปกติ
                    <del>{{cart.product.price |currency:'':0 }} บาท</del>
                  </span>
              </td>
               <td  >
                {{cart.quantity}}
               </td>
               <td>{{(cart.product.sale.onSale?cart.product.sale.salePrice:cart.product.price) * cart.quantity | currency:'' }}</td>
              
            </tr>
            </tbody>
          </table>
         </div>

        <div class="row" >

          <div class="col-md-12 modal-cart-sum">
            <div class="col-md-6 pull-right" >
                <h5 class="summary-header summary-box" >สรุปการสั่งซื้อ</h5>
                <p class="summary-box" >มูลค่าสินค้า (บาท): {{totalPrice | currency:''}}</p>
                <p class="summary-box " ><b>ยอดสุทธิ</b> (รวมภาษีมูลค่าเพิ่ม): <span class="net-sum-box" ><b>{{totalPrice | currency:''}} </b></span>บาท</p>
            </div>
          </div>
         </div>

          <p class="text-center text-muted" style="font-size:20px;" data-ng-if="!(productsInCart.length && productsInCart)" ><strong>ไม่มีสินค้าในตะกร้า</strong></p>
        </div> 
        <div class="modal-footer">
             <button class="btn btn-primary" type="button" data-ng-click="dismiss()" >กลับไปช็อปต่อ</button>
            <button class="btn btn-success" type="button" >สั่งซื้อ</button>
        </div>
</script>
