<section class="admin-content item-box" data-ng-controller="OrdersManagerCtrl as om" data-ng-init="om.view()">
	<div class="row">
		<div class="col-lg-6">
			<h3 class="admin-panel-header" >
				<span class="glyphicon glyphicon-list-alt" ></span>รายการสั่งซื้อ
				<span class="label" 
				ng-class="{'label-primary': om.status === 'new',
				'bg-lightyellow': om.status === 'confirmed',
				'label-warning': om.status === 'paid',
				'bg-skyblue': om.status === 'delivered',
				'label-success': om.status === 'completed',
				'label-danger': om.status === 'overtime',
				'bg-grey': om.status === 'canceled'}" data-ng-if="om.statusTitle" >
				{{om.statusTitle}}
			</span>

		</h3>

	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-5">
		<div class="row ">
			<div class="col-lg-12">
				<h4><b>{{om.order.created | date:'dd-MMMM-yyyy HH:mm:ss'}}</b></h4>
			</div>
			<div class="col-lg-12">
				<h3>รหัสสั่งซื้อ: {{om.order.code}}</h3>
			</div>
			<div class="col-lg-12">
				<h3>ประเภทการชำระเงิน: <span class="text-danger" ><b>{{om.order.payment.type}}</b><span></h3>
			</div>
			<div class="col-lg-12">
				<h3>จำนวน: {{om.order.totalProductQty}}</h3>
			</div>
			<div class="col-lg-12">
				<h3>มูลค่าสินค้าทั้งสิ้น: {{om.order.totalPrice | currency: ''}}</h3>
			</div>
			<div class="col-lg-12">
				<h3>ค่าจัดส่ง: {{(om.order.shipping.cost | currency: '')}}</h3>
			</div>
			<div class="col-lg-12" data-ng-if="om.order.orders.payment.cost" >
				<h3>ค่าใช้จ่ายเพิ่มเติม: {{om.order.payment.cost | currency: ''}}</h3>
			</div>
			<div class="col-lg-12">
				<h3>ยอดชำระทั้งสิ้น: {{om.order.netTotalPrice | currency: ''}}</h3>
			</div>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="row ">
			<div class="col-lg-12">
				<form class="form-inline">
					<div class="form-group">
						<select class="form-control" data-ng-model="om.order.status" data-ng-options="value for (key, value) in om.statuses" data-ng-change="editedStatus = true" ></select>
					</div>
					<button class="btn btn-default" data-ng-if="editedStatus" data-ng-click="om.update()" >แก้ไข</button>
				</form>
			</div>
		</div>
		<div class="row ">
			<div class="col-lg-12">
				<h3>ที่อยู่สำหรับจัดส่ง</h3>
				<p style="font-size:20px;" >
					{{om.order.address.name}}<br>
					{{om.order.address.address}}<br>
					{{om.order.address.district}} {{om.order.address.province}} {{om.order.address.zipcode}}<br>
					{{om.order.address.tel}}
				</p>
			</div>

			<div class="col-lg-12">
				<h3>ข้อมูลผู้ใช้</h3>
				<p style="font-size:20px;" >
					username: {{om.order.user.username}}<br>
					email: {{om.order.user.email}}<br>
					name: {{om.order.user.firstName}} {{om.order.user.lastName}}<br>
					provider: {{om.order.user.provider}}<br>
				</p>
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped table-responsive table-bordered" >
			<thead>
				<tr>
					<td colspan="6" >รายการสินค้า</td>
				</tr>
				<tr>
					<td colspan="2" >ชื่อ</td>
					<td>รุ่น</td>
					<td>ราคาต่อชิ้น(บาท)</td>
					<td>มูลค่าสินค้า(บาท)</td>
					<td>จำนวน</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="2" >ชื่อ</td>
					<td>รุ่น</td>
					<td>ราคาต่อชิ้น(บาท)</td>
					<td>มูลค่าสินค้า(บาท)</td>
					<td>จำนวน</td>
				</tr>
			</tfoot>
			<tbody>
				<tr data-ng-repeat="product in om.order.products" >

					<td width="100" ><img src="{{product.product.photos[0].url}}" width="100" height="100" >
					</td>
					<td>{{product.product.name}}</td>
					<td>{{product.product.models}}</td>
					<td>{{product.product.sale.onSale? product.product.sale.salePrice: product.product.price | currency: '' }}
						<del data-ng-if="product.product.sale.onSale" >{{product.product.price | currency: ''}}</del>
					</td>
					<td>{{(product.product.sale.onSale? product.product.sale.salePrice: product.product.price) * product.quantity | currency: '' }}
					</td>
					<td>
						{{product.quantity}} <small class="text-muted" >(เหลือ {{product.product.quantity}})</small>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3>หลักฐานยืนยันการชำระเงิน</h3>
		<hr>

		<div data-ng-if="om.order.paidEvidence" >
			<div class="col-lg-6">
				<a href product-image-preview image="om.order.paidEvidence.photo" >
					<img src="{{om.order.paidEvidence.photo.url}}" width="300" height="300" class="img-thumbnail" >
				</a>
			</div>
			<div class="col-lg-6">
				<p>
					<b>จำนวนเงิน:</b> {{om.order.paidEvidence.cost | currency: ''}} บาท <br>
					<b>วันที่จ่ายเงิน:</b> {{om.order.paidEvidence.paidTime | date: 'dd-MMMM-yyyy'}}  <br>
					<b>เวลาที่จ่ายเงิน:</b> {{om.order.paidEvidence.paidTime | date: 'HH:mm:ss'}}  <br>
					<b>ข้อมูลเพิ่มเติม:</b> <br>
					{{om.order.paidEvidence.message}}  
				</p>
			</div>
		</div>
		<div class="col-lg-offset-4" data-ng-if="!om.order.paidEvidence" >
			<h3 class="text-muted" >ไม่พบหลักฐานการชำระเงิน</h3>
		</div>
	</div>
</div>
</section>