.app-search-text{
	background: #3c3c3c;
	border-top: #22DDFF solid 1px ;
	border-bottom: #22DDFF solid 1px ;
	border-left: #22DDFF solid 1px ;
	border-right:none;
	color: #FFF;
}

@media (min-width: 768px) {
	.app-search-text{
		width: 200px !important;
		background: #3c3c3c;
		border-top: #22DDFF solid 1px ;
		border-bottom: #22DDFF solid 1px ;
		border-left: #22DDFF solid 1px ;
		border-right:none;
		color: #FFF;
	}
}

@media (min-width: 992px) {
	.app-search-text{
		width: 200px !important;
		background: #3c3c3c;
		border-top: #22DDFF solid 1px ;
		border-bottom: #22DDFF solid 1px ;
		border-left: #22DDFF solid 1px ;
		border-right:none;
		color: #FFF;
	}	

}


@media (min-width: 1200px) {
	.app-search-text{
		width: 400px !important;
		border-top: #22DDFF solid 1px ;
		border-bottom: #22DDFF solid 1px ;
		border-left: #22DDFF solid 1px ;
		border-right:none;
		background: #3c3c3c;
		color: #FFF;

	}

}


.app-search-button{
	background: #3c3c3c;
	border-top: #22DDFF solid 1px ;
	border-bottom: #22DDFF solid 1px ;
	border-right: #22DDFF solid 1px ;
	border-left:none;
	color: #22DDFF;

}

.app-search-button:link{
	background: #3c3c3c;
	border-top: #22DDFF solid 1px ;
	border-bottom: #22DDFF solid 1px ;
	border-right: #22DDFF solid 1px ;
	border-left:none;
	color: #22DDFF;

}


.app-search-button:visited{
	background: #3c3c3c;
	border-top: #22DDFF solid 1px ;
	border-bottom: #22DDFF solid 1px ;
	border-right: #22DDFF solid 1px ;
	border-left:none;
	color: #22DDFF;

}


.app-search-button:hover{
	background: #3c3c3c;
	border-top: #22DDFF solid 1px ;
	border-bottom: #22DDFF solid 1px ;
	border-right: #22DDFF solid 1px ;
	border-left:none;
	color: #22DDFF;

}












