.product {
	margin-top: 10px;
}

.product-detail-header{
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 5px;
}


.product-detail{
	background: #FFF;
}

.btn-add-product{
	margin-left: 10px;
	margin-bottom: 5px;
}

.soleout-group{
	display: block;
	padding: 10px 10px 10px 10px;
	border:1px dashed #C3C3C3;
	color:#FF0000;
	
}

.soleout-group .soleout-text{
	margin-left:5px;
	font-size: 18px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: white;
	cursor: inherit;
	display: block;

}

.photo-upload-area {
	border:4px dashed #C3C3C3;
	padding: 15px 20px 15px 20px;
	display: block;
}

.photos-upload-frame {
	margin-top:10px;
}

.photo-preview-template{
	display: inline-block;

}

.btn-remove-photo{
	position: absolute;
	top:-10px;
	right:10px;
	color:#FF0000;
}

.btn-remove-photo:link{
	color:#FF0000;
	text-decoration: none;
}


.btn-remove-photo:visited{
	color:#FF0000;
	text-decoration: none;
}

.btn-remove-photo:hover{
	color:#FF0000;
	text-decoration: none;
}

.table-list-product{
	margin-top: 10px;
}

.pagination-product{
	margin:0;
}

.btn-edit-product{
	margin-right:15px;
}


.row-action a{
	text-decoration: none !important;
}

.product-thumbnail{
	width: 400px !important;
	height: 250px !important;
}

.colorpicker{
	background-color: #eee;
	border:1px #dddddd solid;
	padding-left:7px;
	padding-top:5px;
}

.color-tag{
	border:1px solid #000; 
	width:50px;
	height:50px;
}

.pagination-custom{
	padding: 0 !important;
	margin: 0 !important;
}
