.product {
	margin-top: 10px;
}

.product-detail-header{
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 5px;
}


.product-detail{
	background: #FFF;
}

.soleout-group{
	display: block;
	padding: 10px 10px 10px 10px;
	border:1px dashed #C3C3C3;
	color:#FF0000;
	
}

.soleout-group .soleout-text{
	margin-left:5px;
	font-size: 18px;
}
